<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
</head>

<body>
    <header>
        <h1>
            The Tech Blog
        </h1>

        {{#if logged_in}}
        <nav>
            <button id="logout">Logout</button>
        </nav>
        {{/if}}
    </header>
    <main>
        {{{body}}}
    </main>


    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>