<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
</head>

<body>
    <header>
        <h1>
            The Tech Blog
        </h1>
      <nav>
        {{#if logged_in}}
        <form action="/">
          <input type="submit" value="home" />
        </form>
        <form action="/dashboard">
          <input type="submit" value="dashboard" />
        </form>
        <form action="/login">
          <input type="submit" id = "logout" value="logout" />
        </form>
        {{else}}
        <form action="/">
          <input type="submit" value="home" />
        </form>
        <form action="/dashboard">
          <input type="submit" value="dashboard" />
        </form>
        <form action="/login">
          <input type="submit" value="login" />
        </form>
        {{/if}}
      </nav>
    </header>
    <main>
        {{{body}}}
    </main>


    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>