{{#each posts as |post| }}
<div>
  <div>
    <h2>

      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.name}}</p>
  </div>
  <div>
    <p>
      {{post.content}}
    </p>
  </div>
</div>
{{/each}}