<section class="hero is-success">


<div class="hero-body">
          <p class="title">
            The Tech Blog
          </p>
        </div>
        <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a href="/" class="navbar-item">
                      Community Posts
                    </a></li>
          <li><a href="/dashboard" class="navbar-item">
                      New Post
                    </a></li>
            <li><a href="/oldposts" class="navbar-item">
                      Your Previous Posts
                    </a></li>
          <li><a href="/login" id="logout">
                      Logout
                    </a></li>
                              <li><a href="/login" id="logout">
                      Login or Sign Up
                    </a></li>
        </ul>
      </div>
    </nav>
      </div>
  </section>

<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<script src="/js/login.js"></script>
