<section class="hero is-success">


<div class="hero-body">
          <p class="title">
            The Tech Blog
          </p>
        </div>
        <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a href="/" class="navbar-item">
                      Community Posts
                    </a></li>
          <li><a href="/dashboard" class="navbar-item">
                      New Post
                    </a></li>
            <li><a href="/oldposts" class="navbar-item">
                      Your Previous Posts
                    </a></li>
          <li><a href="/login" id="logout">
                      Logout
                    </a></li>
                              <li><a href="/login" id="logout">
                      Login or Sign Up
                    </a></li>
        </ul>
      </div>
    </nav>
      </div>
  </section>



<div class="box">
   <div class="content">
    <h1>Login</h1>
    <h3>Enter your credentials below if you are already signed up.</h3>
  </div>
<form class="form login-form field">
  <div class="form-group field">
    <label class="label" for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group field">
    <label class="label" for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="button is-link" type="submit">login</button>
  </div>
</form>
</div>

<div class="box">
   <div class="content">
    <h1>Signup</h1>
    <h3>If you are not already signed up, join the conversation by entering your information below.</h3>
  </div>
<form class="form signup-form field">
  <div class="form-group field">
    <label class="label" for="name-signup">Name:</label>
    <input class="form-input" type="text" id="name-signup" />
  </div>
  <div class="form-group field">
    <label class="label" for="email-signup">Email:</label>
    <input class="form-input" type="text" id="email-signup" />
  </div>
  <div class="form-group field">
    <label class="label" for="password-signup">Password:</label>
    <input class="form-input" type="password" id="password-signup" />
  </div>
  <div class="form-group">
    <button class="button is-link" type="submit">login</button>
  </div>
</form>
</div>


<script src="/js/login.js"></script>
