<div>
<h2>New Blog Entry</h2>
<label for="post-title">Title</label>
    <form id="new-post-form">
        <input type="text" id="post-title" name="post-title"/>

        <label for="content">Content</label>
        <input id="content" name="content"/>

        <button type="submit">Create New Entry</button>
    </form>
</div>

<script src="/js/new-post.js"></script>