<div>
            <section class="hero is-success">


<div class="hero-body">
          <p class="title">
            The Tech Blog
          </p>
          <p class="subtitles">
              Your previous posts
          </p>
        </div>
        <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a href="/" class="navbar-item">
                      Home
                    </a></li>
          <li><a href="/dashboard" class="navbar-item">
                      New Post
                    </a></li>
            <li><a href="/oldposts" class="navbar-item">
                      Previous Posts
                    </a></li>
          <li><a href="/login" id="logout">
                      Logout
                    </a></li>
                              <li><a href="/login" id="logout">
                      Login
                    </a></li>
        </ul>
      </div>
    </nav>
      </div>
  </section>
    

  <div class="box">





  {{#if posts.length}}
  <div>
    <h3>Your previous blog posts:</h3>

    {{#each posts as |post|}}
    <div>
      <div>
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div>
        <p>{{post.content}}</p>
      </div>
      <div>
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
</div>

<script src="./js/dashboard.js"></script>
